html[data-theme='light'] {
    --btn-background-color: var(--white);
    --btn-bg-color-hover: rgba(22, 24, 35, 0.03);
}

html[data-theme='dark'] {
    --btn-background-color: rgba(255, 255, 255, .08);
    --btn-bg-color-hover: rgba(255, 255, 255, .04);
}

.wrapper {
    cursor: pointer;
    border-radius: 4px;
    padding: 9px 16px;
    min-width: 100px;
    height: 36px;
    font-size: 1.6rem;
    line-height: 3.4rem;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 700;
    border: 1px solid transparent;
    background: transparent;
    + .wrapper {
        margin-left: 16px;
    }

    
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, .2);
        background-color: rgba(255, 255, 255, 1);
    }
}

//Button type
.primary {
    border: none;
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}

.outline {
    color: var(--text-color);
    border-color: var(--black);
    padding: 0 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: var(--btn-background-color);
    font-weight: 600;
    
    &:hover {
        background-color: var(--btn-bg-color-hover);
    }
}

.outlinePrimary {
    color: var(--primary);
    border-color: var(--primary);
}

.icon {
    display: flex;
}

//Button sizes
.small {
    min-height: 36px;
    width: 100px;    
    padding: 1px 8px;
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
}
