html[data-theme='light'] {
    --text-color: rgb(22, 24, 35);
    --user-name-color: rgba(22, 24, 35, 0.5);

    --bg-hover-color: rgba(22, 24, 35, .03);
}

html[data-theme='dark'] {
    --text-color: rgba(255, 255, 255, 0.9);
    --user-name-color: rgba(255, 255, 255, 0.5);

    --bg-hover-color: rgba(255, 255, 255, 0.04);
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: var(--bg-hover-color);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--text-color);
}

.username {
    font-size: 1.4rem;
    color: var(--user-name-color);
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
    font-size: 1.2rem;
}