html[data-theme='light'] {
    --box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

html[data-theme='dark'] {
    --box-shadow: rgb(255 255 255 / 12%) 0px 1px 1px
}

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;

}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding-right: 24px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    .logo-img {
        padding: 0;
        height: 42px;
        border: none;
    }
}


.actions {
    display: flex;
    align-items: center;
}

.upload-btn {
    color: var(--back);
    background-color: var(--white);
}

.upload-btn-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn {
    display: flex;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
    padding: 0 4px;
}

@media only screen and (max-width: 799px) {
    .search {
        display: none
    }
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    margin-left: 19px;
}

.user-avatar {
    cursor: pointer;
    margin-left: 24px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

