html[data-theme='light'] {
    --search-bg-color: rgba(22, 24, 35, 0.06);
    --search-input-color: #000;
    --search-clear-btn-color: rgba(22, 24, 35, 0.34);
    --search-space-color: rgba(22, 24, 35, 0.12);
    --search-input-text-color: #000;
    --search-btn-hover: rgba(22, 24, 35, 0.03);
    --search-btn-active: rgba(22, 24, 35, 0.06);

    --search-btn: #a7a7ab;
    --search-btn-has-value: rgb(76 78 87);
    --search-label: rgba(22, 24, 35, 0.5);
}

html[data-theme='dark'] {
    --search-bg-color: rgba(255, 255, 255, 0.12);
    --search-input-color: rgba(159, 159, 159, 1);
    --search-clear-btn-color: rgba(255, 255, 255, 0.34);
    --search-space-color: rgba(255, 255, 255, 0.12);
    --search-input-text-color: rgb(171, 171, 171);
    --search-btn-hover: rgba(255, 255, 255, 0.04);
    --search-btn-active: rgba(255, 255, 255, 0.08);

    --search-btn: rgba(255, 255, 255, 0.34);
    --search-btn-has-value: rgb(203 203 203);

    --search-label: rgba(255, 255, 255, 0.5);
}

.search-result {
    width: 361px;
}

.search {
    height: var(--search-height);
    background-color: var(--search-bg-color);
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    position: relative;

    input {
        width: 292px;
        height: 100%;
        background: transparent;
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: 400;
        color: var(--search-input-color);
        caret-color: var(--primary);
        font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    }

    input:not(:placeholder-shown) {
        color: var(--text-color);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--search-btn-has-value);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }
}

.search-spacer {
    width: 1px;
    height: 28px;
    margin: -3px 0px;
    background: var(--search-space-color);
}

.search-label {
    color: var(--search-label);
    height: 30px;
    line-height: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.account-list {
    max-height: min((100vh - 100px) - 140px, 660px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
    }
}

.clear,
.loading {
    background: transparent;
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--search-clear-btn-color);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    cursor: pointer;
    color: var(--search-btn);
    background: transparent;

    &:hover {
        background: var(--search-btn-hover);
    }
    &:active {
        background: var(--search-btn-active);
    }
}


@media screen and (max-width: 767px) {
    .search {
        display: none;
    }
}