html[data-theme='light'] {
    --bg-login-item: rgba(255, 255, 255, 1);
}

html[data-theme='dark'] {
    --bg-login-item: rgba(46, 46, 46, 1);
    
}

.item {
    width: 375px;
    height: 44px;
    margin-bottom: 16px;
    padding: 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--bg-login-item);

    border: 1px solid rgba(22, 24, 35, 0.12);

    svg {
        width: 20px;
        position: absolute;
        left: 12px;
        top: 12px;
    }
}