html[data-theme='light'] {
    --download-app-btn: rgb(255, 255, 255);
    --download-app-text: rgba(22, 24, 35, 0.75);
    --download-app-hover: rgb(255, 255, 255);
    --download-app-border-hover: rgba(22, 24, 35, 0.2);
}

html[data-theme='dark'] {
    --download-app-btn: rgb(37, 37, 37);
    --download-app-text: rgba(255, 255, 255, 0.75);
    --download-app-hover: rgba(46, 46, 46, 1);
    --download-app-border-hover: rgba(255, 255, 255, 0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    margin-top: 60px;
}

.content {
    flex: 1;
}

.sticky-block {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 24px;
    bottom: -32px;
    -webkit-font-smoothing: antialiased;
}

.hide {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transform: translateY(0px);
    transition: all 0.5s ease-out;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.show {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transform: translateY(-40px);
    transition: all 0.5s ease-out;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.download-app {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--download-app-text);
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: none var(--download-app-btn);
    outline: none;
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    padding: 0px 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 4px;

    &:hover {
        border-color: var(--download-app-border-hover);
        background-color: var(--download-app-hover);
    }
}

.top-icon {
    margin-top: 8px;
    border: none;
    outline: none;
    padding-bottom: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: rgb(255, 59, 92);
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),rgb(254, 44, 85);
    }
}

.icon {
    margin-top: 4px;
}


.modal {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
}